@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #F2F2F2;
}

header {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 30px;
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.01);
    z-index: 100;
}

.logo {
    display: flex;
    gap: 15px;
}
.logo h1 {
    color: #007AFF;
    font-size: 35px;
    font-weight: 800;
}
.logo h1 span {
    color: #312ECB;
}

nav {
    display: flex;
    gap: 50px;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bold;
    transition: 0.3s;
}
nav a:hover {
    color: #312ECB;
}

input {
    display: none;
}
@media (max-width: 768px) {
    .logo h1{
        font-size: 25px;
    }
    nav {
        position: absolute;
        top: 100px;
        background: white;
        left: 0;
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: 0;
        transition: 0.5s;
        overflow: hidden;
    }
    nav a:nth-child(1) {
        margin-top: 50px;
    }

    label {
        width: 45px;
        height: 30px;
        position: relative;
    }
    label div {
        width: 100%;
        height: 5px;
        background: #312ECB;
        position: absolute;
        transform: translateY(-50%);
        border-radius: 99px;
        transition: 0.3s;
        transform: scale(1);
    }
    label div:nth-child(1) {
        top: 0;
    }
    label div:nth-child(2) {
        top: 50%;
    }
    label div:nth-child(3) {
        top: 100%;
    }

    input:checked + header nav {
        height: 100vh;
    }
    input:checked + header label div:nth-child(1) {
        transform: rotate(45deg);
        top: 50%;
    }
    input:checked + header label div:nth-child(3) {
        transform: rotate(-45deg);
        top: 50%;
    }
    input:checked + header label div:nth-child(2) {
        transform: scale(0);
        opacity: 0;
    }
}